html{
  scroll-behavior: smooth;
}
body{
    /* background: url('images/bg.jpg') no-repeat ;
    background-size: cover; */
    background-color: rgb(27, 25, 25);
} 
#home{
  padding: 4px;
  background: url(images/bg.jpg) no-repeat;
  background-size: cover;
  border-radius: 10px;
  border: 2px;
  border-bottom: 4px;
}
/* Add this CSS to your styles.css file */

#container {
    overflow: auto; /* Clear float */
    padding: 15px;
    margin-bottom: 20px;
  }
  
  .navbarheader {
    overflow: auto; /* Clear float */
    padding: 10px;
  }
  
  #logo {
    float: left; /* Float the logo to the right */
    width: 100px; /* Adjust as needed */
    height: 100px; /* Adjust as needed */
    background: url('images/rllogo.png') no-repeat;
    background-size: contain; /* Ensure the logo fits within the container */
    padding: 5px;
  }
  
  #logo-side {
    float: left; /* Float the h2 to the left */
    margin-right: 10px; /* Adjust spacing between logo and text */
    color: white;
  }
  
  /* Add additional styling for ul if needed */
  li{
    display: inline;
    float: right;
    margin-left: 25px;
    transition-property: all;
    transition-duration: 0.3s;
  }
  li:hover{
    transform: scale(1.02);
    background-color: rgb(55, 68, 154);
    border-color: white;
    border: 3px;
    border-radius: 10px;
  }
  a{
    text-decoration: none;
    font-size: 25px;
    color: azure;
    padding: 5px;
  }
  .container2{
    overflow: auto;
    padding: 20px;
  }
  #car{
    margin-top: 70px;
    padding: 10px;
    float: right;
    background: url('images/dom.png') no-repeat;
    background-size: contain;
    height: 356px;
    width: 540px;
  }
  #intro{
    padding: 10px;
    color: beige;
    font-size: 300%;
    width: 50%;
  }
  .content{
    padding: 15px;
    float: left;
    width: 50%;
  }
  #main{
    padding: 10px;
    color: antiquewhite;
  }
  /*ranks part*/
  .container4{
    overflow: auto;
    padding: 15px;
  }
  #ranks-head{
    color: beige;
    text-align: center;
    font-weight: bold;
    font-size: 200%;
  }
  #ranks{
    padding: 20px;
    max-height: max-content;
  }
  /*bronze rank css*/
  #bronze{
    width: 40%;
    height: 170px;
    background-color: rgb(22, 22, 22);
    border: 4px solid rgb(59, 57, 57);
    border-radius: 15px;
    padding: 15px;
    float: left;
    margin: 10px;
  }
  #bronze_text{
    color: beige;
  }
  #content-bronze{
    float: left;
    width: 80%;
  }
  #bronze-heading{
    color: beige;
    font-size: 150%;

  }
  #bronze-image{
    background: url('images/bronze1.png');
    background-size: contain;
    height: 100px;
    width: 100px;
    float: right;
    margin-top: 35px;
  }

  /*silver rank css*/
  #silver{
    width: 40%;
    height: 170px;
    background-color: rgb(22, 22, 22);
    border: 4px solid rgb(59, 57, 57);
    border-radius: 15px;
    padding: 15px;
    float: right;
    margin: 10px;
  }
  #silver_text{
    color: beige;
  }
  #content-silver{
    float: left;
    width: 80%;
  }
  #silver-heading{
    color: beige;
    font-size: 150%;

  }
  #silver-image{
    background: url('images/silver3.png');
    background-size: contain;
    height: 100px;
    width: 100px;
    float: right;
    margin-top: 35px;
  }

  /*gold rank css*/
  #gold{
    width: 40%;
    height: 170px;
    background-color: rgb(22, 22, 22);
    border: 4px solid rgb(59, 57, 57);
    border-radius: 15px;
    padding: 15px;
    float: left;
    margin: 10px;
  }
  #gold_text{
    color: beige;
  }
  #content-gold{
    float: left;
    width: 80%;
  }
  #gold-heading{
    color: beige;
    font-size: 150%;

  }
  #gold-image{
    background: url('images/gold2.png');
    background-size: contain;
    height: 100px;
    width: 100px;
    float: right;
    margin-top: 35px;
  }
  
  /*platinum rank css*/

  #platinum{
    width: 40%;
    height: 170px;
    background-color: rgb(22, 22, 22);
    border: 4px solid rgb(59, 57, 57);
    border-radius: 15px;
    padding: 15px;
    float: right;
    margin: 10px;
  }
  #platinum_text{
    color: beige;
  }
  #content-platinum{
    float: left;
    width: 80%;
  }
  #platinum-heading{
    color: beige;
    font-size: 150%;

  }
  #platinum-image{
    background: url('images/plat2.png');
    background-size: contain;
    height: 100px;
    width: 100px;
    float: right;
    margin-top: 35px;
  }

  /*diamond rank css*/
  #diamond{
    width: 40%;
    height: 170px;
    background-color: rgb(22, 22, 22);
    border: 4px solid rgb(59, 57, 57);
    border-radius: 15px;
    padding: 15px;
    float: left;
    margin: 10px;
  }
  #diamond_text{
    color: beige;
  }
  #content-diamond{
    float: left;
    width: 80%;
  }
  #diamond-heading{
    color: beige;
    font-size: 150%;

  }
  #diamond-image{
    background: url('images/diamond3.png');
    background-size: contain;
    height: 100px;
    width: 100px;
    float: right;
    margin-top: 35px;
  }
  
  /*grand champ rank css*/
  #grandchamp{
    width: 40%;
    height: 170px;
    background-color: rgb(22, 22, 22);
    border: 4px solid rgb(59, 57, 57);
    border-radius: 15px;
    padding: 15px;
    float: right;
    margin: 10px;
  }
  #grandchamp_text{
    color: beige;
  }
  #content-grandchamp{
    float: left;
    width: 80%;
  }
  #grandchamp-heading{
    color: beige;
    font-size: 150%;

  }
  #grandchamp-image{
    background: url('images/gc.png');
    background-size: contain;
    height: 100px;
    width: 100px;
    float: right;
    margin-top: 35px;
  }