body{
    /* background: url('/images/bg.png') no-repeat ;
    background-size: cover; */
    background-color: red;
} 

#logo{
    background-image: url('/images/rllogo.png');
}
li{
    display: inline-block;
}